html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  outline:0;
}
html, body { height:100%; }
ul, ul li { list-style:disc; }
ul li, ol li {
  margin:0 0 10px;
  color:#4b4b4b;
}
ul, ol {
  padding:0 0 0 30px;
  margin:0 0 15px;
}
p { color:#4b4b4b; }
table { font-size:1.2em; }
hr {
  height:0;
  margin:0 0 20px;
  border:none;
  display:block;
}
body {
  font-size:62.5%;
  font-family:Arial, Helvetica, Sans-Serif;
  color:#ffffff;
  line-height:1;
  background:#222222 none;
}
h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
  margin:0 0 15px;
}
h1 { font-size:2.7em; }
h2 { font-size:2.3em; }
h3 { font-size:1.8em; }
header, section, footer {
  display:block;
  position:relative;
}
section#container header h1 a {
  width:279px;
  height:0;
  padding:96px 0 0;
  overflow:hidden;
  display:block;
  outline:none;
}
section#container header h1 {
  width:283px;
  height:98px;
  position:absolute;
  top:28px;
  left:30px;
  background:transparent url(../img/logo.png) no-repeat 0 0;
}
section#container header span.jQueryLogo {
  width:215px;
  height:0;
  padding:81px 0 0;
  overflow:hidden;
  display:block;
  position:absolute;
  top:35px;
  right:30px;
  background:transparent url(../img/jQuery_logo.png) no-repeat 0 0;
}
section#container header {
  width:940px;
  height:150px;
  position:relative;
  padding:0 10px;
  background:transparent url(../img/wood_head_foot.png) no-repeat 0 0;
}

section#container section.main div.content h2 span {
  display:inline-block;
  padding:5px;
  color:#ffffff;
  font-size:16px;
  background:#4082ae none;
}
section#container section.main div.content h2 {
  display:block;
  background:#eeeeee none;
}
section#container section.main div.content ul li a:hover {
  text-decoration: underline;
}
section#container section.main div.content ul li a {
  color: #4082AE;
  text-decoration: none;
}
section#container section.main div.content ul li {
  color:#000000;
  font-size:12px;
  line-height:15px;
}
section#container section.main div.content ul { margin:0 0 20px; }
section#container section.main div.content p {
  color:#000000;
  font-size:12px;
  line-height:15px;
  margin:0 0 10px;
}
section#container section.main div.content div.syntaxhighlighter {
  width:auto !important;
  border:dashed 1px #aaaaaa;
  padding:10px;
}
section#container section.main div.content {
  width:900px;
  height:200px;
  height:auto !important;
  min-height:200px;
  padding:30px;
}
section#container section.main {
  width:960px;
  height:200px;
  height:auto !important;
  min-height:200px;
  padding:0;
  position:relative;
}
section#container footer p a { color:#ffffff; }
section#container footer p {
  color:#ffffff;
  text-align:right;
  margin:0 10px;
  font-size:12px;
}
section#container footer {
  width:940px;
  height:14px;
  position:relative;
  padding:15px;
  background:transparent url(../img/wood_head_foot.png) no-repeat 0 0;
}
section#container {
  width:960px;
  height:500px;
  height:auto !important;
  min-height:500px;
  padding:0;
  position:relative;
  margin:0 auto;
  background:#ffffff none;
}
